---
import Layout from '../../layouts/Layout.astro'
import ArticleList from '../../components/organisms/ArticleList.astro'
import Main from '../../components/molecules/Main.astro'
import Paginate from '../../components/molecules/Paginate.astro'
import { routes } from '../../constants/routes'
import { getBlogFirstPage } from '../../utils/collection/blog'
import { fetchArticles } from '../../lib/contentful/article'

const firstPage = await getBlogFirstPage()

const articles = await fetchArticles()

console.log(articles.items)

const title = 'Article: All'
---

<Layout title={title}>
  <Main>
    <h1>{title}</h1>
    <ArticleList entries={firstPage.data} />
    {articles.items.map((item) => <p>{item.fields.title}</p>)}
    <Paginate page={firstPage} urlWithPage={routes.article.page} />
  </Main>
</Layout>
