---
import Layout from '../../layouts/Layout.astro'
import ArticleList from '../../features/ArticleList.astro'
import Main from '../../components/molecules/Main.astro'
import Paginate from '../../components/molecules/Paginate.astro'
import { routes } from '../../constants/routes'
import { fetchArticlesFirstPage } from '../../infra/contentful/article'
import '../../styles/global.css'

const firstPage = await fetchArticlesFirstPage()

const title = 'Article: All'
---

<Layout title={title} noPagefindIndex>
  <Main>
    <h1>{title}</h1>
    <ArticleList entries={firstPage.data} fullwidth />
    <Paginate page={firstPage} urlWithPage={routes.article.page} />
  </Main>
</Layout>
