---
import { routes } from '../constants/routes'
import type { Article } from '../infra/contentful/interfaces'
import { formatDateJp } from '../utils/date'

export type Props = {
  entry: Article
}

const { entry } = Astro.props
const { title, postedAt, category, tags, thumbnail, slug, content } = entry
---

<header>
  {thumbnail != null && <img src={thumbnail} alt={`Eye catch of ${title}`} class="mb-8" />}
  <h1 class="text-3xl font-bold break-all">
    <a href={routes.article.slug(slug)}>{title}</a>
  </h1>
</header>

<div class="mt-6 mb-2">
  <a href={routes.article.category.page(category)} class="uppercase no-underline hover:underline"
    >{category}</a
  > | {formatDateJp(postedAt)}
</div>
{
  tags != null && (
    <div class="tag-list">
      {tags.map((tag) => (
        <a href={routes.article.tag.page(tag)} class="tag">
          {tag}
        </a>
      ))}
    </div>
  )
}

<article class="post-content mt-10" set:html={content} />

<style is:global lang="scss">
  .post-content {
    ul,
    ol {
      @apply mr-0 pr-0;
    }

    ul ol,
    ol ul,
    ul ul {
      margin: 0;
    }

    img {
      @apply h-auto max-w-full;
    }

    // iframe: YouTube
    iframe.youtube {
      @apply h-full max-w-full;
    }
  }

  .tag-list {
    @apply flex gap-4 my-6;
  }

  .tag {
    @apply no-underline hover:underline flex items-center;

    &::before {
      @apply h-4 w-4 inline-block mr-2;
      content: '';
      background: url(../assets/images/icons/tag.svg);
    }
  }
</style>
