---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { onlyPublished } from '../../utils/collection'
import ListItem from '../../components/ListItem.astro'
import { sortBy } from 'remeda'

const blogEntries = await getCollection('blog', onlyPublished)
const entries = sortBy(blogEntries, [(e) => e.data.postedAt, 'desc'])

const title = 'Weblogs'
---

<Layout title={title}>
  <main>
    <h1 class="text-3xl font-bold">{title}</h1>
    <section>
      <h2 class="my-4">Articles</h2>
      <ul class="grid grid-cols-1 gap-4 p-0">
        {
          entries.map((e) => (
            <ListItem
              title={e.data.title}
              dateString={e.data.postedAt}
              href={`/blog/${e.slug}`}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
