---
import Layout from '../../../layouts/Layout.astro'
import Main from '../../../components/molecules/Main.astro'
import ArticleList from '../../../features/ArticleList.astro'
import Paginate from '../../../components/molecules/Paginate.astro'
import { routes } from '../../../constants/routes'
import type { GetStaticPaths, Page } from 'astro'
import { configs } from '../../../constants/site'
import type { Article } from '../../../infra/contentful/interfaces'
import { fetchArticleEntries } from '../../../infra/contentful/article'
import '../../../styles/global.css'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const entries = await fetchArticleEntries()
  return paginate(entries, { pageSize: configs.paginateSize })
}

export type Props = {
  page: Page<Article>
  /** /page からのアクセスか  */
  isIndexPage?: boolean
}

const { page, isIndexPage } = Astro.props

const title = `Article - ${Astro.params.page === undefined ? 'All' : `page ${page.currentPage}`}`
---

<Layout title={title} canonicalPath={isIndexPage != null ? routes.article.page(1) : undefined}>
  <Main>
    <h1>{title}</h1>
    <ArticleList entries={page.data} fullwidth />
    <Paginate page={page} urlWithPage={routes.article.page} />
  </Main>
</Layout>
