---
import { routes } from '../../constants/routes'
import { site } from '../../constants/site'

export type Props = {
  isTop?: boolean
}
const { isTop = false } = Astro.props
---

<footer>
  <section class="links">
    <ul class:list={[{ 'gutter-top': isTop, gutter: !isTop }]}>
      <li>
        <a href={routes.index}>Top</a>
      </li>
      <li>
        <a href={routes.article.index}>Article</a>
        <ul>
          <li>→ <a href={routes.article.category.index}>Category</a></li>
          <li>→ <a href={routes.article.tag.index}>Tag</a></li>
        </ul>
      </li>
      <li>
        <a href={routes.about}>About</a>
      </li>
    </ul>
  </section>

  <ul class:list={['sns', { 'gutter-top': isTop, gutter: !isTop }]}>
    <li>
      <a
        class="sns-icon sns-tw"
        href={`https://twitter.com/${site.author.twitter}`}
        target="_blank"
        rel="noopener">Twitter: @march_am_</a
      >
    </li>
    <li>
      <a
        class="sns-icon sns-apple"
        href={`https://music.apple.com/profile/${site.author.appleMusic}`}
        target="_blank"
        rel="noopener">Apple Music: march-am</a
      >
    </li>
  </ul>
</footer>

<style>
  footer {
    background-color: rgb(251, 243, 178, 0.7);
  }

  .gutter {
    @apply p-10;
    margin: 0 12px 0 12px;
  }

  .gutter-top {
    @apply pt-10;
    @apply my-0;
  }

  /* less than lg */
  @media (max-width: 1024px) {
    .gutter-top {
      margin: 0 50px 0 40px;
    }
  }

  @media screen(lg) {
    .gutter {
      @apply px-20;
      margin-left: 300px;
      margin-right: 250px;
    }
  }

  .links {
    @apply pb-0;
    margin-left: 300px;
    margin-right: 250px;

    background-color: rgb(255 255 255 / 20%);
    font-family: 'Lora', serif;
  }

  /* less than lg */
  @media (max-width: 1024px) {
    .links {
      margin: 0 12px 0 12px;
    }
  }

  .links > ul {
    @apply w-36 px-0 mx-auto;
  }

  .links li {
    @apply block leading-10;
  }

  .links li ul {
    @apply m-0;
  }

  .links a {
    @apply text-xl italic uppercase no-underline font-semibold leading-10 text-gray-900;
  }

  .links li li a {
    @apply text-sm italic;
  }

  .links::after {
    @apply block mx-auto mt-8 border border-greenish-dark border-solid;
    width: 30%;
    content: '';
  }

  /* less than lg */
  @media (max-width: 1024px) {
    .links::after {
      @apply w-40;
    }
  }

  .sns {
    @apply pb-12 flex justify-center gap-8;
    background-color: rgb(255 255 255 / 20%);
  }

  .sns li {
    @apply list-none;
  }

  .sns-icon {
    @apply block text-maccha;
    font-size: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  .sns-tw {
    background: 0 / 2.5rem url(../../assets/images/icons/logo_tw.svg);
  }

  .sns-apple {
    background: 0 / 2.5rem url(../../assets/images/icons/logo_apple.svg);
  }
</style>
