---
import type { Page } from 'astro'

export type Props = {
  page: Page<unknown>
  urlWithPage: (page: number) => string
}

const {
  page: { currentPage, lastPage, url },
  urlWithPage
} = Astro.props

const nextPageNum = url.next ? currentPage + 1 : undefined
const prevPageNum = url.prev ? currentPage - 1 : undefined

const showFirst = currentPage !== 1 && currentPage !== 2
const showFirstEllipsis = currentPage !== 1 && currentPage !== 2 && currentPage !== 3
const showLastEllipsis = currentPage !== lastPage && currentPage !== lastPage - 1
const showLast = currentPage < lastPage - 1
---

<nav>
  {
    showFirst && (
      <a href={urlWithPage(1)} class="circle">
        {1}
      </a>
    )
  }
  {showFirstEllipsis && <div class="ellipsis-line">―</div>}
  {
    prevPageNum && (
      <a href={urlWithPage(prevPageNum)} class="circle">
        {prevPageNum}
      </a>
    )
  }
  <div class="current circle">{currentPage}</div>
  {
    nextPageNum && (
      <a href={urlWithPage(nextPageNum)} class="circle">
        {nextPageNum}
      </a>
    )
  }
  {showLastEllipsis && <div class="ellipsis-line">―</div>}
  {
    showLast && (
      <a href={urlWithPage(lastPage)} class="circle">
        {lastPage}
      </a>
    )
  }
</nav>

<style>
  nav {
    @apply flex items-center justify-center mt-20 flex-wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }

  .circle {
    @apply box-content inline-block border no-underline
      text-maccha hover:text-white border-maccha hover:bg-maccha
      text-center w-12 h-12;
    line-height: 3rem;
    border-radius: 2.6rem;
  }

  .current {
    @apply bg-maccha text-white;
  }

  .ellipsis-line {
    @apply text-maccha;
  }
</style>
